body {
    background: rgba(25, 44, 77, 0.854);
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.container{
    background-color: rgb(238, 238, 238);
    min-width: 98vh;
    max-height: 133vh;
    border-radius: 15px;
    display: grid;
    text-align: center;
    grid-template-rows: 1fr 0.2fr 0.5fr 0.5fr 1fr;
    grid-template-areas:
    "imgsection"
    "filters"
    "equalization"
    "thresh"
    "hybrid";
    grid-gap: 1rem;
}
.a h3{
    margin-top: 0px;
    margin-bottom: 13px;
}
.plotting{
    background-color: rgb(238, 238, 238);
    min-width: 98vh;
    max-height: 133vh;
    border-radius: 15px;
    display: grid;
    text-align: center;
    grid-template-rows: 1fr  1fr;
    grid-template-areas:
    "histogram"
    "rgb";
}

#imgsection{
    grid-area: imgsection;
    display: flex;
    flex-direction: column;
}
#hybrid{
    grid-area: hybrid;
    margin-top: 21px;
}

#equalization{
    grid-area: equalization;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "equalizationimg normalizationimg";
    grid-gap: 1rem;
}

#thresh{
    grid-area: thresh;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "global local";
    grid-gap: 1rem;
}

#filters{
    grid-area: filters;
}

#image {
    width: 400px;
    height: auto;
}

#normalizationimg, #equalizationimg, #global, #local{
    grid-area: display_image1;
    margin-left: auto;
    margin-right: auto;

}

.image{
    display: grid;
    height: 200px;
    width: 280px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}
.image2{
    display: grid;
    height: 306px;
    width: 408px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}

.image3{
    display: grid;
    height: 400px;
    width: 550px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}

#display_image1{
    grid-area: display_image1;
}

#output{
    grid-area: output;
    margin-left: 20px;

}

.import-btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    display: block;
    max-width: 25%;
    padding: 0.6rem;
    margin-bottom: 0.2rem;
    cursor: pointer;
    border: 5px #eee;
    border-radius: 1.5rem;
    background-color: #19345d;
    color: white;
    font-size: 1.3rem;
    text-align: center;
}

.import-btn:hover {
background-color: #192639;
color: #eee;
}

.import-btn2:hover {
    background-color: #192639;
    color: #eee;
}

button {
    text-align: center;
    padding: 0.9rem;
    margin: 0.5rem;
    cursor: pointer;
    border: 5px #eee;
    border-radius: 3.5rem;
    background-color: #19345d;
    color: white;
    font-size: 0.9rem;
}

button:hover {
    background-color: #192639;
    color: #eee;
}

input[type="file"] {
    display: block;
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    font-size: 0.8rem;
}
 
.section-container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.6rem;
    background-color: #eee;
    padding: 0rem 0.8rem;
    border-radius: 0.9rem;  
}

#upload-image1-form{
    display: flex;
    text-align: center;
    grid-gap: 11rem;
    justify-content: center;
    align-items: center;
}

.filters{
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "noise smoothing Edge freqfilter";
    grid-gap: 1rem;
}

select{
    width: 150px !important;
    margin-top: 5px;
}

.import-btn2 {
    text-align: center;
    padding: 0.9rem;
    margin: 0.5rem;
    cursor: pointer;
    border: 5px #eee;
    border-radius: 3.5rem;
    background-color: #19345d;
    color: white;
    font-size: 0.9rem;
    transform: translate(-100px,-800px);
}

.hybrid{
    transform: translateY(-40px);
}

#upload-image2-form{
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-areas:
    "hybrid_image1 hybrid_image2 hybrid_output";
    grid-gap: 1rem;
    margin-top: 21px;
}

#hybrid_image1{
    grid-area: hybrid_image1;
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

#hybrid_image2{
    grid-area: hybrid_image2;
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

#hybrid_output{
    grid-area: hybrid_output;
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}


.rgb{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    row-gap: 22px;
    margin: 15px 42px;
    margin-bottom: 8px;
}
.histogram{
    margin: 3px 42px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.small_container{
    display: flex;
    flex-direction: row;
    column-gap: 24px;
}